


a {
  color: #00B7FF;
}
.tableheadings{
  background-color: rgba(211, 211, 211, 0.882);
  align-items: center;

}
.tablecontent{
align-items: center;

}




.titlePanel{
  justify-content: center;
}
